<li>  
  <div class="tucker">
    <span class="title"><%= tucker.title %></span>
    <span class="description"><%= tucker.description %></span>
    <span class="latlng">
      Coordinates: (<%= tucker.lat %>, <%= tucker.lng %>)
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(tucker.created_at) %> ago.
    </span>
  </div>
  <% if current_user?(tucker.user) %>
  <div class="delete">
    <%= link_to "delete", tucker, :method => :delete, 
                                     :confirm => "Are you sure?", 
                                     :title => tucker.title %>
  </div>
  <% end %>
</li>