<li>  
  <div class="tucker">
    <span class="title"><%= wrap(tucker.title) %></span>
    <span class="description"><%= wrap(tucker.description) %></span>
    <span class="address"><%= wrap(tucker.address) %></span>
    <span class="latlng">
      Coordinates: (<%= tucker.latitude %>, <%= tucker.longitude %>)
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(tucker.created_at) %> ago.
    </span>
  </div>
  <% if current_user?(tucker.user) %>
  <div class="delete">
    <%= link_to "delete", tucker, :method => :delete, 
                                     :confirm => "Are you sure?", 
                                     :title => tucker.title %>
  </div>
  <% end %>
</li>